.btn-danger {
  color: #fff;
  background-color: #cd4040;
  border-color: #cd4040;
  padding: 0.375rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin: 10px 0;
  border: none;
  width: 49%;
}
