.search-container {
  display: grid;

  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-columns: 25% 20px 25%;*/
  /* grid-template-rows: repeat(4, 25%);*/
  /*grid-template: filas/columnas;*/
  /* grid-template: 20% 50% 10% 20% / 25% 50% 25%;*/
  /*height: 25vh;*/
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'search name'
    'switch connect';

  /*grid-gap: 2px;*/
  /*overflow: hidden;*/
  /*justify-content: center;
  align-content: center;*/

  color: #495057;
}
/***********************************************/
/***************container***************************/

/**************************************/
.search {
  grid-area: search;
  display: flex;
  align-items: center;
}
/**************************************/
.name {
  grid-area: name;
  display: inline;
}
.name p {
  font-size: 12px;

  font-weight: 400;
}
.name small {
  opacity: 0.5 !important;
}
.name span {
  font-size: 20px;
}
.subText {
  padding: 10px 0 0 0;
}
/**************************************/
.icon-device {
  grid-area: icon-device;

  display: flex;
  align-items: center;

  border-top: 0.0625rem solid #ebebeb;
  margin: 0.5rem 0 0 0;
  padding: 0 0 0 0;
}
.svg {
  width: 20%;
  height: 35%;
  margin: 1rem;
}
/**************************************/
.switch {
  grid-area: switch;
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
  margin-left: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: -3px;
  bottom: 1px;
  background-color: #f2efe9;

  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-color: gray;
  border-width: 20px;
  box-shadow: 0 0 1px #495057;
  box-shadow: 0 0.125rem 0.625rem rgb(68 64 84 / 40%),
    0 0.0625rem 0.125rem rgb(68 64 84 / 50%);
}
input:checked + .slider {
  background-color: #3fbe4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #495057;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**************************************/
.connect {
  grid-area: connect;
  color: #495057;
  margin-top: -3px;
  margin-left: -60%;
}
/**************************************/
@media (min-width: 320px) {
  .widget-chart {
    height: 92%;
  }
}
@media (min-width: 992px) {
  .search-container {
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
      'search search search'
      'icon-device name name'
      'switch connect connect';
  }
  .widget-chart {
    padding: 1rem;
  }
  .card {
    height: 95%;
  }
  .svg {
    width: 40%;
    height: 50%;
    margin: 0.7rem;
  }
  .switch {
    width: 40px;
    height: 23px;
    margin-left: 5px;
  }

  .connect {
    margin: 2px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
    left: -7px;
    bottom: 1px;

    border-width: 20px;
  }
  .name {
    grid-area: name;

    border-top: 0.0625rem solid #ebebeb;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 0;
  }

  .input {
    height: 30px;
    margin: 0% 22%;

    padding: 0px 10px;
    outline: none;
  }
  .subText {
    padding: 5px 0 0 0;
  }
}
