.MuiPaper-root {
  color: rgba(52, 49, 76, 1);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}
.MuiCard-root {
  overflow: hidden;
  border-radius: 8px;
}
.w-full {
  width: 100%;
}
.overflow-auto {
  overflow: auto !important;
}
.MuiPaper-elevation6 {
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 6%), 0px 6px 10px 0px rgb(0 0 0 / 4%),
    0px 1px 18px 0px rgb(0 0 0 / 4%);
}
.MuiPaper-rounded {
  border-radius: 4px;
}

/****************+TALE*****************/
.MuiTable-root {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
.whitespace-pre {
  white-space: pre;
}
.min-w-750 {
  min-width: 750px;
}

/************************************/
.MuiTableHead-root {
  display: table-header-group;
}
/***********  TR ************************/
.MuiTableRow-root {
  color: inherit;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
tr {
  /*display: table-row;
    vertical-align: inherit;*/
  border-color: inherit;
}

/************ TH ****************/
.MuiTableCell-root {
  display: table-cell;
  padding: 12px 8px 12px 0px;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  white-space: pre-wrap;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.MuiTableCell-head {
  color: rgba(52, 49, 76, 1);
  padding: 12px 0px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5rem;
}
.jss3138 thead th:first-child {
  padding-left: 16px;
}

/**************  BODY *****************/
.MuiTableBody-root {
  display: table-row-group;
}
.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

/***********  TD ****************/
.jss727 td:first-child {
  padding-left: 16px !important;
}
.jss727 td {
  border-bottom: none;
}
.MuiTableCell-root {
  display: table-cell;
  padding: 12px 8px 12px 0px;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.43;
  white-space: pre-wrap;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  letter-spacing: 0.01071em;
  vertical-align: inherit;
}
.MuiTableCell-body {
  color: rgba(52, 49, 76, 1);
}
.px-0 {
  /*padding-left: 0rem !important;*/
  padding-right: 0rem !important;
}
.MuiTableCell-alignLeft {
  text-align: left;
}

/******* State ****/
.rounded {
  overflow: hidden !important;
  border-radius: 300px !important;
}
.bg-light-gray {
  background: rgba(0, 0, 0, 0.01) !important;
}
.elevation-z3 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.06),
    0px 3px 4px 0px rgba(0, 0, 0, 0.042), 0px 1px 8px 0px rgba(0, 0, 0, 0.036) !important;
}
.py-2px {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

/***** ACTION************/
.border-none {
  border: none !important;
}
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.MuiIcon-colorPrimary {
  color: #1976d2;
}
.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.text-white {
  color: rgba(255, 255, 255, 1) !important;
}

.bg-primary {
  background: #3ebc4e !important;
}
