/*body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}*/

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  /*word-wrap: break-word;*/
  background-color: #fff;
  background-clip: initial;
  border: 1px solid rgba(32, 39, 140, 0.125);
  border-radius: 0.25rem;
  box-sizing: border-box;

  overscroll-behavior: initial;
  margin: 5px;
}
.card {
  box-shadow: 0 0.46875rem 2.1875rem rgb(8 10 37 / 3%),
    0 0.9375rem 1.40625rem rgb(8 10 37 / 3%),
    0 0.25rem 0.53125rem rgb(8 10 37 / 5%),
    0 0.125rem 0.1875rem rgb(8 10 37 / 3%);
  border-width: 0;
  transition: all 0.2s;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  height: auto;
  display: block;
  padding: 0.75rem 1.5rem;
  text-align: center;
  align-items: center;
  border-bottom-width: 1px;
}
.card-header,
.card-title {
  text-transform: uppercase;
  color: rgba(18, 21, 78, 0.7);
  font-weight: 700;
  font-size: 0.88rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(32, 39, 140, 0.125);
}
.font-size-lg {
  font-size: 1.1rem !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

.card-header .header-icon {
  font-size: 1.65rem;
  margin-right: 0.625rem;
}
.bg-amy-crisp {
  background-image: linear-gradient(120deg, #a6c0fe, #f68084) !important;
}
.icon-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/***** btn action****/
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.actions-icon-btn .btn-icon-only {
  padding-left: 0;
  padding-right: 0;
  color: #495057;
}
.btn-icon.btn-link {
  text-decoration: none;
}
.btn-group .btn {
  font-size: 0.8rem;
  font-weight: 500;
}
.btn-group-vertical > .btn,
.btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
}
.btn-icon {
  vertical-align: bottom;
}
.btn,
a,
button {
  outline: none !important;
}
.btn-link {
  font-weight: 400;
  color: #545cd8;
  text-decoration: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #495057;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: initial;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}

.actions-icon-btn .btn-icon-only .btn-icon-wrapper {
  font-size: 1.3rem;
  width: 30px;
  text-align: center;
}
.btn-icon-only .btn-icon-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.btn-icon .btn-icon-wrapper {
  margin-right: 0.5rem;
  margin-left: 0;
  margin-top: 0;
  font-size: 17px;
  vertical-align: middle;
  transition: color 0.1s;
  display: inline-block;
}
.actions-icon-btn .btn-icon-only {
  padding-left: 0;
  padding-right: 0;
  color: #495057;
}
/*********/

/********scroll area*******/
.scroll-area-lg {
  height: 400px;
  overflow-x: hidden;
  color: gray;
}
.scrollbar-container {
  position: relative;
  height: 100%;
}
.ps {
  /*overflow: hidden !important;*/
  overflow-anchor: none;
  touch-action: auto;
}
.p-4 {
  padding: 1.5rem !important;
}
.vertical-timeline {
  width: 100%;
  position: relative;
  padding: 1.5rem 0 1rem;
}
.vertical-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 4px;
  background: #e9ecef;
  border-radius: 0.25rem;
}
.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}
.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.8s;
  animation: cd-bounce-1 0.8s;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}
.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative;
}
.badge-dot {
  text-indent: -999em;
  padding: 0;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 32px;
  min-width: 2px;
}
.badge {
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  min-width: 8px;
}
.badge-success {
  color: black;
  background-color: #3ac47d;
}
.badge-primary {
  color: #fff;

  background-color: #545cd8;
}
.badge-warning {
  color: #212529;
  background-color: #f7b924;
}
.badge-danger {
  color: #fff;
  background-color: #d92550;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: initial;
  border-radius: 0.25rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-dot-xl:before {
  background-color: red;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff;
}

.p-text {
  color: gray;
  transform: translateX(0%) translateZ(0px);
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: 0.8rem;
}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}
.vertical-timeline-element-content .timeline-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  padding: 2px 0 0;
  font-weight: 700;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -90px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: #adb5bd;
  font-size: 0.7619rem;
  white-space: nowrap;
}
.vertical-timeline-element-content:after {
  content: '';
  display: table;
  clear: both;
}
.vertical-timeline-element:after {
  content: '';
  display: table;
  clear: both;
}
.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}
.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.8s;
  animation: cd-bounce-1 0.8s;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}
/****** FOOTER TIMELINE*****/
.card .card-footer {
  display: flex;
  align-items: center;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.text-center {
  text-align: center !important;
}
.d-block {
  display: block !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(32, 39, 140, 0.125);
}
.btn.btn-pill,
.btn.btn-pill.btn-wide {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.btn-focus.btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgb(68 64 84 / 40%),
    0 0.0625rem 0.125rem rgb(68 64 84 / 50%);
}
.btn.btn-wide {
  padding: 0.375rem 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s,
    box-shadow 0.15s;
}
.btn-focus {
  color: #fff;
  background-color: #444054;
  border-color: #444054;
  border-radius: 32px;
}
.btn {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
}
.btn .badge-dot.badge-dot-lg {
  width: 8px;
  height: 10px;
  border-radius: 100px;
}
.btn .badge {
  position: absolute;
  top: -10px;
}

.btn .badge-dot {
  position: absolute;
  border: 2px solid #fff;
  top: -5px;
  right: -5px;
  width: 11px;
  height: 11px;
}
.btn .badge {
  margin-left: 8px;
}

.badge-pulse {
  -webkit-animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  position: relative;
}
.badge-pulse:after,
.badge-pulse:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: sploosh 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: infinite;
}

/***********************************/

.seldiv {
  float: left; /*envia el contenido a la derecha*/
  color: #697582;
  padding-top: 5px;
  padding-right: 0.5em;
}

@media (min-width: 320px) {
  .main-container-timeline {
    max-width: 320px;
    max-height: 568px;
  }
}
@media (max-width: 768px) {
  .card-header {
    height: auto;
    display: block;
    padding: 0.75rem 1.5rem;
    text-align: center;
  }
  .header-icon {
    display: none;
  }
  .actions-icon-btn {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .card-header.card-header-tab .card-header-title {
    display: inline-flex !important;
    line-height: 1;
  }
}
@media (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

/*<div className="circle" style={{borderColor:blue }}></div>*/
