.MuiButtonBase-root {
  color: inherit;
  border: 2px;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;

  border-color: rgb(169, 169, 169, 0.5);

  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.MuiButton-root {
  color: rgba(52, 49, 76, 1);
  padding: 6px 16px;
  font-size: 14px;
  min-width: 200px;
  min-height: 100px;
  box-sizing: border-box;
  /*transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;*/

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: none;
  float: right;
}
.MuiButton-root:hover {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 6%), 0px 8px 10px 1px rgb(0 0 0 / 4%),
    0px 3px 14px 2px rgb(0 0 0 / 4%);
  background-color: #ffffff;

  border: 2px solid #fff;
}
/*.MuiButton-container {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 6%), 0px 8px 10px 1px rgb(0 0 0 / 4%),
    0px 3px 14px 2px rgb(0 0 0 / 4%);
  background-color: #e0e0e0;
}*/
.mb-4 {
  margin-bottom: 1rem !important;
}
.MuiButton-containedPrimary {
  color: #34314c;
  /*background-color: #1976d2;*/
  border-style: dashed;
  background-color: #eff1f3;
}
