.login-container {
  position: relative;
  /*top: 9.5vh;*/
 background-color:#fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    'social-login'
    'LoginDivider'
    'email-login'
    'footer-login';
}
/***************************************************/
.contenedor-form{
  background-color: #fff;
 width: 310px;
margin: 0.7rem auto 0.7rem auto;
-webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
}
.social-login {
  grid-area: social-login;
  padding: 16px 10px 0 10px;
  margin: 0;
  
}
.LoginDivider {
  grid-area: LoginDivider;
}
.email-login {
  grid-area: email-login;
  
}
.footer-login {
  grid-area: footer-login;
  
}
.banner-login {
  grid-area: banner-login;
  background-color: #273742;
  position:relative;
  overflow:hidden;

  /*background-image: url("../../assets/statics/img_grid-top.svg");
 background-repeat: no-repeat;
background-size: 550px;
background-position: center right;*/
}
.banner-login:before {
  grid-area: banner-login;
  background-color: #273742;
 

      content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;

  background-image: url("../../assets/statics/img_grid-top.svg");
 background-repeat: no-repeat;
background-size: 550px;
background-position: center right;
}
.banner-Logo{
  margin: 10px 80px;
      position: relative;
    z-index: 2;
}

/***************************************************/

.social-facebook {
  margin-bottom: 12px;
}
.social-login a {
  display: block;
  margin-bottom: 10px;
}
.btn--big.btn--responsive,
.btn--medium.btn--responsive {
  font-size: 1rem;
  color: #fff;
  text-decoration:none;
  text-align: center;
}
.btn--big {
  font-size: 18px;
  padding: 11px 0.8em 12px 0.8em;
}
.btn-fcbk {
  background: -webkit-linear-gradient(
    right,
    #3b5999 0%,
    #3b5999 50%,
    #4e69a3 100%
  );
  background: -moz-linear-gradient(
    right,
    #3b5999 0%,
    #3b5999 50%,
    #4e69a3 100%
  );
  background: -o-linear-gradient(right, #3b5999 0%, #3b5999 50%, #4e69a3 100%);
  background: -ms-linear-gradient(right, #3b5999 0%, #3b5999 50%, #4e69a3 100%);
  background: linear-gradient(to left, #3b5999 0%, #3b5999 50%, #4e69a3 100%);
  -webkit-box-shadow: 0 1px 1px 0 #355089;
  box-shadow: 0 1px 1px 0 #355089;
}
.btn-twt {
  background: -webkit-linear-gradient(
    right,
    #60a9de 0%,
    #60a9de 50%,
    #6fb1e1 100%
  );
  background: -moz-linear-gradient(
    right,
    #60a9de 0%,
    #60a9de 50%,
    #6fb1e1 100%
  );
  background: -o-linear-gradient(right, #60a9de 0%, #60a9de 50%, #6fb1e1 100%);
  background: -ms-linear-gradient(right, #60a9de 0%, #60a9de 50%, #6fb1e1 100%);
  background: linear-gradient(to left, #60a9de 0%, #60a9de 50%, #6fb1e1 100%);
  -webkit-box-shadow: 0 1px 1px 0 #5698c7;
  box-shadow: 0 1px 1px 0 #5698c7;
}
.btn-fcbk:hover, .btn-fcbk:focus,.btn-twt:hover,.btn-twt:focus,.btn-login:hover,.btn-login:focus {
    -webkit-box-shadow: 0 2px 13px 0 rgba(53,80,137,0.5);
    box-shadow: 0 2px 13px 0 rgba(53,80,137,0.5);
}

.btn-fcbk:hover, .btn-twt:hover{
  background-color: #000;
}
.icon--line,
.icon--left {
  margin-right: 0.5em;
}

.LoginDivider {
  text-align: center;
  overflow: hidden;
  margin: 1rem auto;
  width: 94%;
  
 
}
.LoginDivider {
    width: 79%;
}
.LoginDivider-text::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 5000px;
    border-bottom: 1px solid #e4e4e4;
}
.LoginDivider-text::after {

    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 5000px;
    border-bottom: 1px solid #e4e4e4;

}

.LoginDivider-text {
  position: relative;
  font-family: 'cooper_hewittmedium';
  padding: 12px;
  font-weight: 600;
  color: #273b47;
  font-size: 20px;
}

.email-login {
  padding: 0px 10px 24px;
}
.FormInput {
    position: relative;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.FormInput-field {
    border: 1px solid #c7c7c7;
    padding: 20px 12px;
    font-size: 1rem;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-transition: 0.2s border-color;
    -moz-transition: 0.2s border-color;
    -o-transition: 0.2s border-color;
    -ms-transition: 0.2s border-color;
    transition: 0.2s border-color;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #696969;
}
.FormInput-field.filled:not(.error), .FormInput-field:focus:not(.error), .FormInput-field:valid:not(.is-select):not(.error), .FormInput-field:valid:not(.isUrl):not(.error) {
    color: #273b47;
    border-color: #0791e6;
    padding: 26px 12px 14px 12px;
}
.FormInput-label {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: 0.2s opacity;
    -moz-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    -ms-transition: 0.2s opacity;
    transition: 0.2s opacity;
    z-index: -1;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
.email-login .FormInput-error {
    text-align: left;
}

.btn-login {
    color: #fff;
    background-color: #7dcd40;
    border-color: #7dcd40;
    /*padding: 0.375rem 2rem;*/
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin: 5px 0;
    border: none;
    width: 100%;
    padding: 11px 0.8em 12px 0.8em;
}

.LoginWithEmail-lostpassword {
    margin-top: 16px;
    text-align: center;
}
.LoginWithEmail-lostpassword a {
    font-size: 1rem;
    color: #0791e6;
    text-decoration:none;
}
.footer-login{
    padding: 16px 10px 5px 10px;
    background-color: #f6f6f6;
}
.AccountFooter-create {
    margin-bottom: 16px;
    text-align:center;
    font-size: 1rem;
    font-weight: 600;
}
.AccountFooter-btn {
    display: block;
    font-size: 16px;
    padding: 12px 0.8em 12px 0.8em;
    font-size: 1rem;
    border: 1px solid #0791e6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #0791e6;
    cursor: pointer;
    outline: none;
    background: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.span-link{
  color: rgb(7, 145, 230);
  text-decoration:none;
}

/**************************************************************/
.banner-Info{
  max-width: 584px;
  margin: 65px 0 auto 75px;
        position: relative;
    z-index: 2;
}
.grid_back-footer{
  /*position: absolute;*/
  opacity: 0.5;
}

.banner-Info p {
  font-size: 22px;
line-height: 30px;
font-family: DINOT;
margin: 0;
font-weight: 300;
color: white;
}


@media (min-width: 370px) {
.contenedor-form{
  
width: 360px;

}

}
@media (max-width: 768px) {
.login-container{
  
max-height: 700px

}
}
@media (min-width: 768px) {
  .login-container {
  
  grid-template-columns: 30% 70%;
  grid-template-areas:
    'social-login banner-login'
    'LoginDivider banner-login'
    'email-login  banner-login'
    'footer-login banner-login';
}
.contenedor-form {
    width: 90%;
}
}

@media (min-width: 992px) {
}
